# Don't commit the lock file: it's a library, not an application
Gemfile.lock

# Generated skills test directory
/skills.test

# This repo uses cline-rb that needs some node modules.
node_modules/
package.json
package-lock.json
